
* { margin:0px; padding:0px; }
a { color: black;   text-decoration: none;}
body {/* background: url(../img/tweed.png);*/}
#container {  margin: 20px auto 0px auto;
height:650px; font-family:segoe ui light; overflow:hidden;
position:relative; background-color:white;}

#main {padding:20px; width:1000px;position: absolute;
top: 69px;}

#main2 {padding:20px; width:1000px;position: absolute;
top: 69px; display:none;}


#top { text-align:center; border-bottom:1px solid lightgrey; 
font-size:20px; padding:20px; background: url(../img/fon.jpg); }

.step { margin:21px; line-height: 35px; text-align:justify;
 /*width:900px; margin:0 auto;*/ height:500px; clear: both;}

#country { margin-left:142px;}

select{ width:155px; margin: 0 10px;}
input{ width:150px; margin: 0 10px; }


#info { height:400px;}
#info2 { height:270px;}

.info_name { width:190px; float:left; }

.info_input { width:190px; float:left; margin-right:20px; }

#permit { clear:both; width:13px;}

.button {width: 100px; height: 35px; margin-left:20px; text-align:center;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2); display: inline-block;
box-shadow: 0 1px 1px rgba(0,0,0,.2); cursor:pointer;
background-image: -webkit-linear-gradient(90deg, #f2f2f2 0%, #fff 100%);
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/ Pgo8c3ZnIHhtbG5zPSJo…IgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
background-image: -moz-linear-gradient(90deg, #f2f2f2 0%, #fff 100%);
background-image: -o-linear-gradient(90deg, #f2f2f2 0%, #fff 100%);} 

.button:active{ background-image: -webkit-linear-gradient(90deg, lightgrey 0%, #fff 100%); }

#sms_permit { line-height: 35px; padding:20px; background: url(../img/fon.jpg);
width:960px; margin: 0px auto; border:1px solid lightgrey; border-top:none;
font-family:segoe ui light; height:10px; display:none;}

.step_number { font-size: 30px; border-bottom: 1px solid lightgrey; float:left;}

.back { padding-top:20px;  margin-top: 15px;
float:right; width:89px; height:27px; padding-top:2px;
margin-right: 40px;} 

#rekviziti { float:left; width:300px; border:1px solid lightgrey;
height: 131px;
padding: 10px;
margin: 9px;}


#step2_permit { clear:both; float:left; margin-left:0;}

.error { color:red; margin:0 10px;}

.datepicker {
    margin-top: 0 !important;
}


