<div style="padding: 4em; padding-bottom: 5em;">

    <form method="GET" action="/reg/forgotPassword/" class="form-horizontal" id="form-enter" style="margin: auto auto; width: 300px;">

        <?if(isset($_GET['login'])&&isset($_GET['email'])){
			
			 $sql=<<<here
			 SELECT * 
FROM  `users` 
WHERE  `subdomen` LIKE  '{$_GET['login']}'
AND  `email` LIKE  '{$_GET['email']}'
here;
			$result = db1::query($sql);
			//echo $sql;
			if(mysql_num_rows($result)==1)
			{
				$user = db1::fetch($result);
				$message="Здравствуйте. Ваш пароль: {$user->password}.";
			
				$subject = 'Восстановление данных';
			
				mail($user->email, $subject, $message);
				
				echo ' <p> Вам на почту было отправлено письмо.   </p> ';
			}
			else echo '<p>Такого пользователя не найдено.</p>';
		
		?>
         
            
        <?}?>

        <h3 style="margin-bottom: 16px;">Восстановление данных</h2>
		<input type="text" name="login" class="form-control span4" value="" placeholder="Логин" />
		<br>
        <input type="text" name="email" class="form-control span4" value="" placeholder="Email" id="input-userName" /><br>
         <br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>

</div>