 
<div class="info_name">
Город: 	<br>		
Индекс:  <br>
Фамилия:  <br>
Имя:  <br>
Отчество: <br>
Дата рождения: <br>
Инн:  <br>
Улица: <br>
Дом(строение):  <br>
Квартира: <br>

</div>

<div class="info_input">	
	<select name="city" id="city">
					  <option value="Москва" selected="selected">Москва</option>
					  <option value="Санкт-Петербург">Санкт-Петербург</option>
					  <option value="Казань">Казань</option>
	</select>		
	<input name="index" type="text"/>
	<input name="surname" type="text"/>
	<input name="name" value="rustem" type="text"/>
	<input name="middle_name" type="text"/>
	<input name="birthday" type="date"/>
	<input name="inn" type="text"/>
	<input name="street" type="text"/>
	<input name="house" type="text"/>
	<input name="room" type="text"/>

</div>

<div class="info_name">
Субдомен/логин:  <br>
Пароль:  <br>
Подтвреждение пароля:  <br>
Номер телефона: <br>
E-mail: <br>
Подтверждение E-mail:

</div>

<div class="info_input">
	<input name="subdomen" type="text"/>
	<input name="password" type="password"/>
	<input name="permit_password" type="password"/>		
	<input name="telephone" type="text"/>
	<input name="email" type="email"/>
	<input name="permit_email" type="email">

</div>
			