<script>
$( document ).ready(function() {
	
	var a=$("#name").val();
	
});
	

</script>
 
<div class="info_name">
Город: 	<br>		
Индекс:  <br>
Фамилия:  <br>
Имя:  <br>
Отчество: <br>
Дата рождения: <br>
Инн:  <br>
Улица: <br>
Дом(строение):  <br>
Квартира: <br>

</div>

<div class="info_input">	
	<select id="city">
					  <option value="Москва" selected="selected">Киев</option>
					 
					  <option value="Казань">Мариуполь</option>
	</select>		
	<input id="index" type="text"/>
	<input id="surname" type="text"/>
	<input id="name"  type="text"/>
	<input id="middle_name" type="text"/>
	<input id="birthday" type="date"/>
	<input id="inn" type="text"/>
	<input id="street" type="text"/>
	<input id="house" type="text"/>
	<input id="room" type="text"/>

</div>

<div class="info_name">
Пароль:  <br>
Подтвреждение пароля:  <br>
Номер телефона: <br>
E-mail: <br>
Подтверждение E-mail:

</div>

<div class="info_input">
	<input id="passwords" type="password"/>
	<input id="permit_password" type="password"/>		
	<input id="telephone" type="text"/>
	<input id="email" type="email"/>
	<input id="permit_email" type="email">

</div>