<div style="margin: 4em; margin-bottom: 5em;">
    <style>
        h1 {
            font-size: 18pt;
            margin-bottom: 1em;
        }
        p {
            margin-bottom: 1em;
            max-width: 85%;
        }
    </style>
    <h1>Жизнь в стиле <strong><span class="green">COSMOS</span></strong></h1>
    <img src="/burnstudio/images/fig2.jpg" alt="fig2.jpg" style="float: left; margin: 0 3em 2em 0;" />
    <p>Покупая панель, ты осознанно выбираешь правильное будущее сегодня, создаешь правильное настоящее
    для следующих поколений. Покупая панель, ты улучшаешь свое материальное состояние сейчас и надолго.</p>
    <p>Помоги себе и своим близким, прими участие в самом масштабном проекте социального маркетинга с COSMOS.</p>
    <p>Глобальные проблемы имеют планетарный характер, их объектом является земной шар, а субъектом их изучения и решения - мировое сообщество. Глобальные проблемы нуждаются в сотрудничестве ученых разных областей, потому что эти проблемы не знают государственных пределов и границ. Определение ее как глобальной связано с ситуацией глобального деструктивного влияния человека на биосферу, что привело к глобальному экологическому кризису. Разрешение этого кризиса - условие дальнейшего существование человеческого рода.</p>
    <p>Так же, глобальную проблему определяет проблема сохранения человеческой личности. Эта проблема выявляет суть антропологического кризиса. Кризисное состояние в существование человеческой личности в современном мире связано с тем, что искусственный мир, созданный человеком отчуждается от него, и ведет к тому, что жизнь на Земле становится невозможной для человека.</p>
</p>
    <strong>Выбор за тобой! Знай, COSMOS с тобой!</strong>
</div>