<div style="margin: 4em; margin-bottom: 5em;">
    <style>
        h1 {
            font-size: 18pt;
            margin-bottom: 1em;
        }
        p {
            margin-bottom: 1em;
            max-width: 85%;
        }
    </style>
    <h1>Почему <strong><span class="green">МЫ?</span></strong></h1>
    <img src="/burnstudio/images/fig1.jpg" alt="fig1.jpg" style="float: left; margin: 0 3em 2em 0;" />
    <p>COSMOS – это упорядоченная система для увеличения человеческих благ.</p>
    <p>COSMOS – это комплекс инструментов, который объединяет людей по всему миру для создания стабильного дохода принося пользу себе и миру. Это уникальная коммуникационная система c комплексом передовых и удобных сервисов, востребованных современным поколением, позволяющая обмениваться информацией, проводить дискуссии и просто общаться со своими коллегами и интересными людьми, обучаться и получать удовольствие от того, что ты делаешь. Ведь с COSMOS ты действительно делаешь мир прекрасней.</p>
    <p>История создания проекта CosmoStations началась с понятия «Глобальной проблемы». Эта проблема, которая охватывает всю планету, это совокупность жизненно важных проблем человечества, от решения которых зависит дальнейшее существование человечества, возможность его экономического, социального и культурного прогресса.</p>
    <strong>Выбор за тобой! Знай, COSMOS с тобой!</strong>
</div>