        <div id="slides">
            <div class="slides_container">
                <div>
                    <img src="/burnstudio/images/slide1.png" alt="slide1" />
                    <div class="slide-right">
                        <h1 class="slide-heading">Новые возможности для тебя и для твоей семьи. Новый стиль жизни с COSMOS.</h1>
                        <p class="info">
                            COSMOS – это комплекс инструментов, который объединяет людей по всему миру
                            для создания стабильного дохода принося пользу себе и миру.
                            <!-- Это уникальная коммуникационная система c комплексом передовых и удобных сервисов,
                            востребованных современным поколением, позволяющая обмениваться информацией,
                            проводить дискуссии и просто общаться со своими коллегами и интересными людьми,
                            обучаться и получать удовольствие от того, что ты делаешь. -->
                            Ведь с COSMOS ты действительно делаешь мир прекрасней.
                        </p>
                        <p><a href="/more/" class="readmore">узнать больше</a></p>
                    </div>
                </div>
                <div>
                    <img src="/burnstudio/images/slide2.png" alt="slide2" />
                    <div class="slide-right">
                        <h1 class="slide-heading">Сделай осознанный выбор<br>за правильное будущее сегодня!</h1>
                        <p class="info">
                            Наша компания участвует в совместном проекте с CosmoStations по созданию солнечных электростанций
                            в местах с наиболее благоприятными природными и экономическими условиями по всему миру. 
                        </p>
                        <p><a href="/more/" class="readmore">узнать больше</a></p>
                    </div>
                </div>
                <div>
                    <img src="/burnstudio/images/slide3.png" alt="slide3" />
                    <div class="slide-right">
                        <h1 class="slide-heading">Забота о будущем<br>благополучии общества</h1>
                        <p class="info">Современные потребители отдают предпочтения компаниям и организациям, проявляющих заботу о будущем благополучии общества.</p>
                        <p><a href="/more/" class="readmore">узнать больше</a></p>
                    </div>
                </div>
                
            </div><!-- end slies container -->
        </div><!-- end slides -->
        
        <div id="service">
            
                <div id="web">
                    <img src="/burnstudio/images/web.png" />
                    <h3>ГЛОБАЛЬНЫЙ <strong><span class="green">ВЫБОР</span></strong></h3>
                    <p>Компания CosmoStations сделала свой ГЛОБАЛЬНЫЙ ВЫБОР. Теперь твоя очередь сделать ВЫБОР в самых благих помыслах с CosmoStations.</p>
                    <p><a href="#" class="readmore">узнать больше</a></p>
                </div><!-- end web -->
                
                <div id="vector">
                    <img src="/burnstudio/images/vector.png" />
                    <h3>История <strong><span class="green">создания</span></strong></h3>    
                    <p>История создания проекта CosmoStations началась с понятия «Глобальной проблемы», которая охватывает всю планету.</p>
                    <p><a href="#" class="readmore">узнать больше</a></p>
                </div><!-- end vector -->
        
        </div><!-- end service-->
        
        <div id="media" class="group">

            <div id="video">
                <h4>Бизнес <strong>концепция COSMOS</strong></h4>
                <h5>Как мы строим нашу работу</h5>
                <h5>Подробный видео тур</h5>
                <a href="#" class="play"><img src="/burnstudio/images/play.png" alt="play" /></a>
            </div>
    
            <div id="twitter"> 
                <h4>Новость <strong><span class="green">о чём-то</span></strong></h4>    
                <p class="tweet">По данным исследователей, ежегодно <a href="#" class="t-link">уничтожается</a> 250 тыс. дельфинов,
                а за последние 20 лет живых организмов в морях и океанах уменьшились в 4 раза.</p>
                <p class="time">9 часов назад</p>
            </div>

            <!--
            <div id="facebook">
                <h4>Новость <strong><span class="green">о том о сём</span></strong></h4>
            </div>
            -->

            <div id="facebook"> 
                <h4>Совместный <strong><span class="green">проект</span></strong></h4>    
                <p class="tweet">Наша компания участвует в совместном проекте с CosmoStations
                по созданию солнечных электростанций<br>по всему миру.</p>
                <p class="time" style="font-size: 11px; font-style: italic; color: #999999; margin-top: 15px;">Вчера в 14:35</p>
            </div>
            
        </div><!-- end media -->
    </div> <!--! end container -->
